{% extends 'admin/admin.html.twig' %}

{% block title "~ edit recipe" %}
{% block body %}

<h1>{{ recipe.title }}</h1>

    <img src="{{ vich_uploader_asset(recipe, 'thumbnailFile') }}" alt="{{ recipe.title }}" class="img-fluid" width="300px">

{{ form(form) }}

{% endblock %}
