{% extends 'admin/admin.html.twig' %}

   {% block title  "All Recipe " %}

    {% block body %}
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Ducimus, enim ipsam labore nisi nulla recusandae!
        At atque consequuntur eius id unde! A aperiam aspernatur atque doloribus excepturi quod rem sequi.
            <h1>Listing Recepes</h1>
            <a  href="{{ url('admin.recipe.create') }}" class="btn btn-primary">create</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(recipes, 'Id', 'r.id') }}</th>
                        <th>{{ knp_pagination_sortable(recipes, 'Title', 'r.title') }}</th>
                        <th>Category</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recipe in recipes %}
                     <tr>
                         <td>{{ recipe.id }}</td>
                         <td><a  href="{{ path('admin.recipe.edit', { id: recipe.id}) }}">{{ recipe.title}} </a></td>
                         <td>{{ recipe.category.name | default('')}} </td>
                         <td>
                           <div class="d-flex gap-2">
                               <a  href="{{ path('admin.recipe.edit', {id : recipe.id }) }}" class="btn btn-primary btn-sm">Edite</a>
                               <form action="{{ path('admin.recipe.delete',  {id: recipe.id}) }}" method="post">
                                   <input type="hidden" name="_method" value="DELETE">
                                   <button type="submit" class="btn btn-danger btn.sm">Delete</button>
                               </form>
                           </div>
                         </td>
                     </tr>
                    {% endfor %}
                </tbody>
            </table>
        {#<div class="d-flex">
        {% if page > 1 %}
            <a href="{{ path('admin.recipe.index', {page: page - 1}) }}" class="btn btn-primary">Previous</a>
         {% endif %}
         {% if page < maxPage %}
            <a href="{{ path('admin.recipe.index', {page: page + 1}) }}" class="btn btn-primary ms-auto">Next</a>
         {% endif %}
        </div>#}

        {{ knp_pagination_render(recipes) }}

    {% endblock %}
