{% extends 'admin/admin.html.twig' %}

{% block title "Recipe : " ~ recipe.title %}

{% block body %}
<div>
    <h1>{{ recipe.title }}</h1>
    <p>{{ recipe.content | nl2br }}</p>
</div>
{% endblock %}
