{% extends 'admin/admin.html.twig' %}

{% block title %}Hello CategoriesController!{% endblock %}

{% block body %}

    <div>
        <h1>Categories Listing</h1>
        <a  href="{{ url('admin.categories.create') }}" class="btn btn-primary">create</a>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Recipes</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>{{ category.count }}</td>
                        <td>
                            <div class="d-flex gap-2">
                                <a href="{{ path('admin.categories.edit', {'id': category.id }) }}" class="btn btn-primary">Edit</a>
                                <form action="{{ path('admin.categories.delete', { id: category.id }) }}" method="post" data-turbo-action="replace">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="btn btn-danger btn.sm">Delete</button>
                                </form>

                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


    </div>
{% endblock %}
