{% extends 'base.html.twig' %}

{% block title "Contact Form" %}

{% block body %}
    <h1> Contact</h1>
    <p></p>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-sm">{{ form_row(form.name) }}</div>
        <div class="col-sm">{{ form_row(form.email) }}</div>
        <div class="col-sm">{{ form_row(form.service) }}</div>
    </div>
    {{ form_end(form) }}
{% endblock %}